<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>BLOG index with sidebar & slider  | Amaze UI Examples</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/png" href="assets/i/favicon.png">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">
  <link rel="stylesheet" href="assets/css/amazeui.min.css">
  <link rel="stylesheet" href="assets/css/app.css">

  <link rel="stylesheet" href="editor/css/editormd.css" />
  <link rel="stylesheet" href="editor/css/editormd.preview.css" />
</head>

<body id="blog">
    <div id="app">
    <header class="am-g am-g-fixed blog-fixed blog-text-center blog-header">
    <div class="am-u-sm-8 am-u-sm-centered">
        
    </div>
    </header>
    <hr>
<!-- nav start -->
    <nav class="am-g am-g-fixed blog-fixed blog-nav">
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button" data-am-collapse="{target: '#blog-collapse'}" ><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="blog-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      <li class="am-active"><a href="index.html">首页</a></li>
      

      
      <li><a href="img.html">图片库</a></li>
     
      <li class="am-activ"><a href="#" v-on:click="add_blog()">添加博客</a></li>
    </ul>
    <form class="am-topbar-form am-topbar-right am-form-inline" role="search">
      <div class="am-form-group">
        <input type="text" class="am-form-field am-input-sm" placeholder="搜索">
      </div>
    </form>
  </div>
</nav>
<hr>
<!-- nav end -->
<!-- banner start -->
<div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-article-margin">
    <div data-am-widget="slider" class="am-slider am-slider-b1" data-am-slider='{&quot;controlNav&quot;:false}' >
    <ul class="am-slides">
      <li>
            <img src="assets/i/f10.jpg">
            <div class="blog-slider-desc am-slider-desc ">
                <div class="blog-text-center blog-slider-con">
                    <span><a href="" class="blog-color">Article &nbsp;</a></span>               
                    <h1 class="blog-h-margin"><a href="">总在思考一句积极的话</a></h1>
                    <p>那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。
                    </p>
                    <span class="blog-bor">2020/8/2</span>
                    <br><br><br><br><br><br><br>                
                </div>
            </div>
      </li>
      
      
    </ul>
    </div>
</div>
<!-- banner end -->

<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-md-8 am-u-sm-12" v-show="page_flag==0" v-cloak>
         
        <article class="am-g blog-entry-article" v-for="blog in blogs">
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
                <img src="assets/i/f19.jpg" alt="" class="am-u-sm-12">
            </div>
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                <span><a href="" class="blog-color">WeiMengXS&nbsp;</a></span>
                <span>&nbsp;</span>
                <span>{{blog.ctime}}</span>
                <h1><a href="#" v-on:click="show_blog(blog)">{{blog.title}}</a></h1>                              
            </div>
            <button type="button" class="am-btn am-btn-secondary am-round" v-on:click="edit_blog(blog)">编辑</button>
            <button type="button" class="am-btn am-btn-danger am-round" v-on:click="delete_blog(blog)">删除</button>

        </article>
        
        <ul class="am-pagination">
  <li class="am-pagination-prev"><a href="">&laquo; Prev</a></li>
  <li class="am-pagination-next"><a href="">Next &raquo;</a></li>
</ul>
</div>
    <div class="am-u-md-12 am-u-sm-12" v-show="page_flag==1">
    <div id="test-editormd-view">
      <textarea style="display:none;" name="test-editormd-markdown-doc" v-model="sblog.content"></textarea> 
    </div>
    <div>
    <button type="button" class="am-btn am-btn-success am-round" v-on:click="update_blog()">提交</button>
    <button type="button" class="am-btn am-btn-default am-round" v-on:click="back_list()">返回</button>
    </div>
    </div>

    <div class="am-u-md-12 am-u-sm-12" v-show="page_flag==2">
      <div id="insert-editormd-view">
        <textarea style="display:none;" name="test-editormd-markdown-doc" ></textarea> 
      </div>
      <div>
      <button type="button" class="am-btn am-btn-success am-round" v-on:click="commit_blog()">提交</button>
      <button type="button" class="am-btn am-btn-default am-round" v-on:click="back_list()">返回</button>
      </div>
      </div>
    
    <div class="am-u-md-4 am-u-sm-12 blog-sidebar" v-show="page_flag==0" >
        <div class="blog-sidebar-widget blog-bor" >
            <h2 class="blog-text-center blog-title"><span>About ME</span></h2>
            <img src="assets/i/f14.jpg" alt="about me" class="blog-entry-img" >
            <p>WeiMengXS</p>
            <p>
        
        </p><p>希望这个夏天，投篮准一点，突破还能快一点，变向能更果断一点，弹跳更高一点，健康再多一点，可乐再冰一点，西瓜更甜一点。</p>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>Contact ME</span></h2>
            <p>
                <a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>
                <a href="https://www.github.com/WeiMengXS"><span class="am-icon-github am-icon-fw blog-icon"></span></a>
                <a href="http:"><span class="am-icon-weibo am-icon-fw blog-icon"></span></a>
                
                <a href=""><span class="am-icon-weixin am-icon-fw blog-icon"></span></a>
            </p>
        </div>
        <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
            <h2 class="blog-title"><span>TAG cloud</span></h2>
            <div class="am-u-sm-12 blog-clear-padding">
            <a href="" class="blog-tag" v-for="tag in tags">{{tag.name}}</a>
         
            </div>
        </div>
        
    </div>
</div>
<!-- content end -->



  <footer class="blog-footer">
    <div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-footer-padding">
        
        
    </div>    
    <div class="blog-text-center">© WeiMengXS-Blog</div>    
  </footer>
    </div>


 

    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    </script>
<!--[if (gte IE 9)|!(IE)]><!-->

<script src="editor/lib/marked.min.js"></script>
<script src="editor/lib/prettify.min.js"></script>

<script src="editor/lib/raphael.min.js"></script>
<script src="editor/lib/underscore.min.js"></script>
<script src="editor/lib/sequence-diagram.min.js"></script>
<script src="editor/lib/flowchart.min.js"></script>
<script src="editor/lib/jquery.flowchart.min.js"></script>

<script src="editor/editormd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="assets/js/amazeui.min.js"></script>
<script>
    var app = new Vue({
  el: '#app',
  data: {
    ctime:"2020/3",
    blogs:[],
    users:[],
    tags:[],
    sblog:{
        id:null,
        tag_id:null,
        user_id:null,
        title:null,
        content:null
    },
    //page_flag 0展示列表 1-修改列表 2-添加博客
page_flag:0
  },
  methods:{
    get_allblogs:function(){
        $.ajax({
            url:"/blog",
            type:"get",
            context:this,
            success:function(result,status){
                this.blogs=result;
            }
        })
      },
      get_alltags:function(){
        $.ajax({
            url:"/tag",
            type:"get",
            context:this,
            success:function(result,status){
                this.tags=result;
            }
        })
    },
    get_allusers:function(){
        $.ajax({
            url:"/user",
            type:"get",
            context:this,
            success:function(result,status){
                this.users=result;
            }
        })
    },
    show_blog:function(blog){
      this.sblog=blog;
      testEditormdView = editormd.markdownToHTML("test-editormd-view", {
                        markdown        : blog.content,
                        htmlDecode      : "style,script,iframe",  // you can filter tags decode
                        //toc             : false,
                        tocm            : true,    // Using [TOCM]
                        //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
                        //gfm             : false,
                        //tocDropdown     : true,
                        // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                        emoji           : true,
                        taskList        : true,
                        tex             : true,  // 默认不解析
                        flowChart       : true,  // 默认不解析
                        sequenceDiagram : true,  // 默认不解析
                    });
                    
    },
    edit_blog:function(blog){
      this.page_flag=1;
      this.sblog=blog;
       testEditor = editormd("test-editormd-view", {
                        width  : "100%",
                        height : 640,
                        path   : "editor/lib/",
                        appendMarkdown : blog.content,
                        saveHTMLToTextarea : true
                    });
    },
    update_blog:function(){
      var content=testEditor.getMarkdown();
      var body={
        id:this.sblog.id,
        tag_id:this.sblog.tag_id,
        user_id:this.sblog.user_id,
        title:this.sblog.title,
        content:content
        }
        $.ajax({
            url:"/blog/"+this.sblog.id,
            type:"put",
            data:JSON.stringify(body),
            context:this,
            success:function(result,status){
                this.page_flag=0;
                this.get_allblogs();
            }
        })
    },
    delete_blog:function(blog){
      $.ajax({
            url:"/blog/"+blog.id,
            type:"delete",
            
            context:this,
            success:function(result,status){
                this.sblog={
                  id:null
                  };
                this.get_allblogs();
            }
        })
    },
    back_list:function(){
      this.page_flag=0;
    },
    add_blog:function(){
      this.page_flag=2;
       insertEditor = editormd("insert-editormd-view", {
                        width  : "100%",
                        height : 640,
                        path   : "editor/lib/",
                        appendMarkdown : "",
                        saveHTMLToTextarea : true
                    });
    },
    commit_blog:function(){
      var content=insertEditor.getMarkdown();
      var body={
        
        tag_id:1,
        user_id:8,
        title:"秋",
        content:content
        }
        $.ajax({
            url:"/blog",
            type:"post",
            data:JSON.stringify(body),
            context:this,
            success:function(result,status){
                this.page_flag=0;
                this.get_allblogs();
            }
        })
    }
    
  }
});
app.get_alltags();
app.get_allusers();
app.get_allblogs();

</script>
</body>
</html>